<div class="car-detail">
    <h1>{{ car?.name }}</h1>
    <img src="'../../../../../assets/corolla-2021.png' + car?.image" alt="{{ car?.name }}">
    <p>Tipo: {{ car?.type }}</p>
    <p>Ano: {{ car?.year }}</p>
    <p>Diária: R$ {{ car?.pricePerDay }}</p>
    <p>{{ car?.description }}</p>

    <div id="button">Alugar</div>

    <button (click)="toggleFavorite()">
      <span *ngIf="isFavorite; else notFavorite">❤️ Favorito</span>
      <ng-template #notFavorite>🤍 Adicionar aos Favoritos</ng-template>
    </button>
  </div>
  
